<div class="end-thanks wrapper">
  <div class="inner-wrapper wrapper">
      <div class="header">
      </div>
      <div class="body">
        <div class="row">
          <div class="small-12 large-8 columns large-offset-2">
            <h1 class="thanks-score large-text-center">
              {$ ctrl.score.correct $}/{$ ctrl.score.total $}<br/>
            </h1>
            <h2 class="score-legend large-text-center">réponses correctes</h2>
            <div class="score-meter text-center">
              <span class="score-meter-extrema score-meter-extrema-left">0%</span>
              <span class="score-meter-track">
                <span class="score-meter-mark score-meter-mark-init" ng-style="{'left':ctrl.rank + '%'}">
                  <span class="score-meter-pin">
                    {$ ctrl.rank $}%
                  </span>
                </span>
              </span>
              <span class="score-meter-extrema score-meter-extrema-right">100%</span>
            </div>
            <div class="score-text large-text-center">
              <span ng-if="ctrl.rank >= 50">
                Félicitations, vous maîtrisez mieux le budget que {$ ctrl.rank $}% des participants
              </span>
              <span ng-if="ctrl.rank < 50">
                Merci d’avoir participé. Les spécificités du budget de la Ville de Paris sont souvent méconnues. N’hésitez pas à recommencer le quizz pour consolider vos connaissances
              </span>
              <p class="en-savoir-plus">
                Pour en savoir plus :  <a href="https://www.paris.fr/budget">https://www.paris.fr/budget</a>
              </p>
            </div>
            <div class="social large-text-center">
                <h3 class="social-title large-text-center">Partager</h3>
                <a href="#" class="button social-link" ng-click="ctrl.facebook()"><i class="fa fa-facebook-f fa-2x"></i></a>
                <a href="#" class="button social-link" ng-click="ctrl.twitter()"><i class="fa fa-twitter fa-2x"></i></a>
            </div>
            <div class="restart large-text-center">
              <a class="button restart-link" href="#" ng-click="ctrl.restart();"><img src="/img/icon_RESTART.svg"/>  Recommencer</a>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>
