<div class="home wrapper">
  <div class="header">
    <a  class="logo" target="_blank" href="https://www.paris.fr/"><img src="/img/logo-mdp.svg"/></a>
  </div>
  <div class="body">
    <div class="row">
      <div class="small-12 large-7 columns">
        <div class="title">
          <h1><img alt="Budget 2018 - le quizz" src="/img/LOGO_QUIZZ.svg" /></h1>
          </div>

          <p class="intro">
            Connaissez-vous bien la Ville ? Ses compétences et son budget ?<br/>Pour le savoir, faites le quizz !<br/>À vous de jouer !
          </p>
          <a class="button enter-quizz" href="#" ng-click="ctrl.enter();">Commencer</a>
        </div>
    </div>
  </div>
</div>
<div class="cookies-policy" ng-if="!ctrl.cookiesAccepted">
  <div class="text">
    Le site Paris.fr utilise des cookies. En poursuivant votre navigation sur ce site, vous acceptez leur utilisation. 
  </div>
  <div class="action">
    <a href="#" ng-click="ctrl.acceptCookies()" class="button button-cookie">Accepter</a>
  </div>
</div>
