<div class="page-question wrapper">
  <div class="header">
    <a class="logo" target="_blank" href="https://www.paris.fr/"><img src="/img/logo-mdp.svg"/></a>

    <span class="question-rank show-for-large">
      {$ ctrl.questionRank $} / {$ ctrl.numQuestions $}
    </span>

    <span class="navigate navigate-previous show-for-large"  ng-class="[{ 'accessible': ctrl.previousQuestion != null}]" ng-click="ctrl.previousQuestion != null ? ctrl.go(ctrl.previousQuestion)  : false;" >
     <img src="/img/icon_NAV-PREVIOUS.svg" />
    </span>
    <span class="questions-track  show-for-large">
      <span class="question-mark" ng-repeat="q in ctrl.questionsTrack"
        ng-class="[{'current': q.current, 'accessible': q.accessible}]"
        ng-click="q.accessible ? ctrl.go(q.id) : false;">
        <img src="/img/Q_OFF.svg" ng-if="!q.accessible"/>
        <img src="/img/Q_OK.svg" ng-if="q.accessible && !q.current" />
        <img src="/img/Q_ON.svg" ng-if="q.accessible && q.current" />
      </span>
    </span>
    <span class="navigate navigate-next show-for-large"  ng-class="[{ 'accessible': ctrl.nextQuestion != null}]" ng-click="ctrl.nextQuestion != null ? ctrl.go(ctrl.nextQuestion) : false; " >
     <img src="/img/icon_NAV-NEXT.svg" />
    </span>

    <a class="mentions" href="#" ng-click="ctrl.openMentions();">Mentions légales</a>

    <div class="track-for-small text-center hide-for-large">
      <span class="question-rank">
        {$ ctrl.questionRank $} / {$ ctrl.numQuestions $}
      </span>

      <span class="navigate navigate-previous"  ng-class="[{ 'accessible': ctrl.previousQuestion != null}]" ng-click="ctrl.previousQuestion != null ? ctrl.go(ctrl.previousQuestion)  : false;" >
         <img src="/img/icon_NAV-PREVIOUS.svg" />
      </span>
      <span class="questions-track">
        <span class="question-mark" ng-repeat="q in ctrl.questionsTrack"
          ng-class="[{'current': q.current, 'accessible': q.accessible}]"
          ng-click="q.accessible ? ctrl.go(q.id) : false;">
          <img src="/img/Q_OFF.svg" ng-if="!q.accessible"/>
          <img src="/img/Q_OK.svg" ng-if="q.accessible && !q.current" />
          <img src="/img/Q_ON.svg" ng-if="q.accessible && q.current" />
        </span>
      </span>
      <span class="navigate navigate-next"  ng-class="[{ 'accessible': ctrl.nextQuestion != null}]" ng-click="ctrl.nextQuestion != null ? ctrl.go(ctrl.nextQuestion) : false; " >
        <img src="/img/icon_NAV-NEXT.svg" />
      </span>

    </div>
  </div>

  <div class="body">
    <div class="row">
      <div ng-if="ctrl.isLoading" class="text-center loading small-12 columns">
        Chargement de la question...
      </div>

      <div ng-if="!ctrl.isLoading" class="small-12 columns">
        <article class="row">
          <div class="question-text small-12 large-7 columns">
            <p>
              {$ ctrl.question.question $}
            </p>
          </div>
          <div class="small-12 columns">
            <div class="row">
              <div class="answer-wrapper small-12 large-6 columns" ng-class="[{'left' : $index % 2 == 0, 'right' : $index % 2 == 1, 'not-answered':   !ctrl.isAnswered  }]" ng-repeat="answer in ctrl.answers">
                <label class="answer" ng-class="[{'chosen': !ctrl.isAnswered && answer.id == ctrl.choice, 'wrong-answer': ctrl.isAnswered && answer.id == ctrl.choice && answer.is_correct == 0, 'correct-answer':  ctrl.isAnswered && answer.is_correct == 1 }]" ng-click="ctrl.choose(answer.id)">
                  <div class="stats-bg stats-bg-init" ng-if="ctrl.isAnswered" ng-style="{'width': answer.statsPercent + '%'}">
                    <span class="figure">
                      {$ answer.statsPercent $}%
                    </span>
                  </div>
                  <span class="answer-label">{$ answer.label $}</span>
                </label>

              </div>
              <div class="answer-legend small-12 columns" ng-if="ctrl.isAnswered">
                <img src="/img/Pin_Legende.svg" /> part des répondants ayant choisi cette réponse
              </div>
            </div>
            <div ng-if="!ctrl.isAnswered"  class="text-right answer-action">
              <a class="button validate-answer" ng-if="ctrl.choice !== null" ng-click="ctrl.answer()">Valider</a>
            </div>
            <div class="question-actions" ng-if="ctrl.isAnswered">
              <a class="button refresh-question" ng-click="ctrl.refresh()"><img src="/img/icon_RESTART.svg"/><span class="text"> Rafraichir</span></a>
              <a class="button next-question" ng-click="ctrl.gotoNext()">
                <span ng-if="ctrl.questionRank != ctrl.numQuestions">Question suivante</span>
                <span ng-if="ctrl.questionRank == ctrl.numQuestions">Résultats</span>
                <img src="/img/icon_NEXT.svg" /></a>
            </div>


        </article>
      </div>
    </div>
  </div>
</div>
<div class="mentions-wrapper">
  <div class="mentions">
    <a href="#" ng-click="ctrl.closeMentions()" class="closer"><img src="/img/icon_CLOSE-POPIN.svg" /></a>
    <h2>Mentions légales</h2>
    <p>
      Conformément aux dispositions de l'article 6 III-1 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, nous vous informons que le site <a href="https://www.paris.fr">www.paris.fr</a> (ci-après désigné le &laquo;Site&raquo;) est édité par la Ville de Paris.<br>
      Le Directeur de la publication est Madame Caroline Fontaine, directrice de l'information et de la communication.
    </p>
    <p>
      Design et conception par l'<a href="http://www.agence-datcha.com/" target="_blank">agence Datcha</a>.
    </p>
    <p>
      La maintenance technique et l'hébergement sont assurés par la société <a href="http://troisyaourts.com/" target="_blank">Trois Yaourts</a> (Julien Zamor - 10, rue Leasage - 75020 Paris)
    </p>

    <h3>Conditions générales d'utilisation du site Paris.fr</h3>
    <h4>Propriété intellectuelle</h4>
    <p>
      Les Contenus présents sur le Site sont la propriété de la Ville de Paris. Ces Contenus étant protégés par le droit d’auteur, toute reproduction est en principe conditionnée à l’accord de la Ville de Paris en vertu de l'article L.122-4 du Code de la Propriété Intellectuelle.
      Toutefois, les Contenus mis à disposition du public sur le site <a href="https://paris.fr">paris.fr</a> peuvent être reproduits de manière occasionnelle à condition de citer la source à la suite du contenu reproduit, et ce de la manière suivante :<br/>
      Mentionner le site web duquel proviennent les Contenus (exemple : &laquo; Contenu publié sur le site ou <a ng-href="{$ ctrl.appLink $}">{$ ctrl.appUrl $}</a> &raquo;). Cette mention pointera directement sur la page correspondante grâce à un lien hypertexte.<br/>
      Apposez le logo correspondant, le cas échéant.
    </p>
    <p>
      En toute hypothèse, la technique de lien profond (deep linking) est proscrite: les pages du site <a target="_blank" href="https://paris.fr">paris.fr</a> et des sites qui y sont rattachés ne doivent pas être imbriquées à l'intérieur des pages d'un autre site.
    </p>
  </div>

</div>
