.chosen-answer { border: 1px solid black;}



$blue: #0C518A;
$red: #BB1C3F;
$header-red: #DF225A;
$yellow: #f9e272;
$light-grey: #f2f2f2;
$grey: #d2d2d2;
$light-fail: #ed6663;
$fail: #d94642;
$light-success: #54d084;
$success: #42ac6b;

html, body, .container{ min-height: 100vh; }

body, h1, h2, h3, h4, h5, h6 { font-family: 'Montserrat', sans-serif; }


.row .row { margin-left:0 !important; margin-right:0 !important;}

.wrapper {
  display: flex; flex-flow:column nowrap; min-height: 100vh;
  .header {
    flex-basis: 0 0 auto; padding: 1.4rem 0;
    @include breakpoint(medium down){ padding:.5rem 0; }
  }
  .body {
    flex-grow: 1; display: flex; align-items: center;
    @include breakpoint(medium down){ align-items: flex-start; }
    & > .row { width: 100%;}
  }
}

@include breakpoint(medium down){
  .logo img { width: 12rem; }
  .button { margin-bottom: .4rem; }
}

.home {
  background-color: $blue; color: white; background-image: url(/img/ILLU1_Bleu.svg); background-size: contain; background-position: right top; background-repeat: no-repeat;
  @include breakpoint(medium down){ background-position: left bottom; padding-bottom: 69%; background-image: url(/img/ILLU1_Bleu_mobile.svg); }


  .title {
    display: inline-block; position: relative; margin-bottom: 5rem;
    h1 { display: inline-block; font-weight: 700; font-size: 3.4rem;}
    h2 { display:inline-block; color:$yellow; font-size: 1.8rem; border: 2px solid $yellow;  transform-origin: center center; text-transform: uppercase; position: absolute; top:100%; right:0; transform: translate(1rem, -1.4rem)  rotateZ(-10deg); padding: .2rem .4rem; font-weight: 600; letter-spacing: .3rem;  }

    @include breakpoint(medium down){
      margin-bottom: 2.6rem;
      h1 { font-size: 2.8rem; }
      h2 { font-size: 1.4rem; }
    }
  }
  .intro {
    font-size: 1.2rem;
    @include breakpoint(medium down){ font-size: 1rem;  }
  }
  .enter-quizz, .enter-quizz:hover, .enter-quizz:active, .enter-quizz:focus {
    background-color: $header-red; color: white; text-transform: uppercase; letter-spacing: .2rem; margin-top: 3rem;  border-radius: 4px;
    @include breakpoint(medium down){ margin-top: .6rem; }
  }
}

.page-question {
  .header { background-color: $header-red; }
  .body {
    background-color: white; color: $blue; background-image: url(/img/ILLU1_Blanc.svg); background-size: contain; background-position: right top; background-repeat: no-repeat;
    @include breakpoint(medium down){ background-image: none;}
    .row { width: 100%;}
  }

  .question-text {
    font-size: 1.4rem; font-weight: 600; border-left: 4px solid $yellow; padding-left: 1rem; margin-bottom: 4rem;
    p { margin-bottom: 0; }
    @include breakpoint(medium down){
      margin-top: 1rem; font-size: 1rem; margin-bottom: 1rem;
      p { line-height: 1.1; }
    }
  }

  .answer-wrapper {
    padding: 2rem;
    @include breakpoint(medium down){padding: 1.1rem 0;}
  }
  .answer-wrapper.left { padding-left:0;  }
  .answer-wrapper.right { padding-right:0;  }
  .answer {
    position: relative; background-color: $light-grey; color: $blue; font-size: 1.2rem; padding: 2rem; font-weight: 500; border-radius: 4px;
    @include breakpoint(medium down){padding: .3rem 1rem; font-size: 1rem;}
  }
  .answer.chosen { background-color: $blue; color: white;}

  .answer.wrong-answer {
    background-color: $light-fail; color: white;
    .stats-bg {
      background-color: $fail;
      .figure {background-image: url(/img/PIN_Rouge.svg);}
    }
  }
  .answer.correct-answer {
    background-color: $light-success; color: white;
    .stats-bg {
      background-color: $success;
      .figure {background-image: url(/img/PIN_Vert.svg);}
    }

  }

  .answer-wrapper.not-answered .answer { cursor: pointer; }

  .answer-legend{
    margin-bottom: 1.4rem; padding-left:0; padding-right: 0;
      @include breakpoint(medium down){ font-size: .7rem; margin-bottom: .8rem; }
  }

  .stats-bg {
    position: absolute; top:0; left:0; bottom:0; z-index:10; background-color: $grey; transition: width 600ms;
    .figure {
      opacity: 1; transition: opacity 200ms; position: absolute; right:0; bottom: 100%; width: 38px; height:49px; transform: translate(19px, 0); background-image: url(/img/PIN_Gris.svg); background-repeat: no-repeat; background-position: center bottom; background-size: contain; color: white; font-size: .8rem; font-weight: 500; line-height: 2.4rem; text-align: center;
      @include breakpoint(medium down){ height: 35px; width: 26px;  transform: translate(13px, 0);font-size: .7rem; line-height: 1.9rem;}
    }
  }
  .stats-bg-init {
    width: 0% !important;
    .figure { opacity: 0; }
  }
  .answer-label { position: relative; z-index: 20;}
  .answer-action { height: 4rem;}
  .validate-answer, .next-question {
    background-color: $blue; color: white; text-transform: uppercase; letter-spacing: .2rem;  border-radius: 4px;  padding-left: 3rem; padding-right: 3rem;
    @include breakpoint(medium down){padding-left: .6rem; padding-right: .6rem; letter-spacing:.1rem; font-size: .8rem; }
  }

  .next-question { float: right;}

  .question-rank {
    margin-left: 2.4rem; margin-right: 1.2rem;  color: white; font-size: .9rem; font-weight: 600;
    @include breakpoint(medium down){ margin-left: 0; margin-right: .4rem;}
  }

  .questions-track {
    .question-mark {
      display: inline-block; margin-right: .6rem;
      &.accessible { cursor: pointer; }
      &:last-child { margin-right: 0;}
    }
  }
  .navigate {
    color:white; font-weight: 600;  opacity: .6;
    &.accessible { opacity: 1; cursor: pointer; }
  }
  .navigate-previous { padding-right: .8rem;}
  .navigate-next { padding-left: .8rem;}

  .track-for-small { display:flex; justify-content: center; align-items: center; margin-top: .4rem;}


  .refresh-question {
    text-transform: uppercase; color: $blue; background-color: transparent; letter-spacing: .2rem; font-weight: 600; padding-left: 0;
    img { vertical-align: top; margin-top: -.2rem; margin-right: 1rem;}
    @include breakpoint(medium down){
      padding: 0;
      img { height: 2rem;}
      .text { display: none; }
    }
  }

  .mentions {
    color:white; float: right; margin-right: 2rem; font-size: .8rem; line-height: 1.6rem;
    @include breakpoint(medium down){ margin-right: 1rem; }
  }
}


.end-thanks {
  background-color: $blue; color: white; background-image: url(/img/ILLU2_Droite.svg); background-size: contain; background-position: right top; background-repeat: no-repeat;
  @include breakpoint(medium down){
    background-size: contain; background-position: left bottom; background-image: url(/img/ILLU1_Bleu_mobile.svg);
  }
  .inner-wrapper {
    background-image: url(/img/ILLU2_Gauche.svg); background-size: contain; background-position: left top; background-repeat: no-repeat;
    @include breakpoint(medium down){ background-image: none; }
  }


  .thanks-score {
    font-size: 6rem; font-weight: 700; line-height: 1;
      @include breakpoint(medium down){ font-size: 3.6rem; }
  }
  .score-legend {
    font-size: 2.6rem; font-weight: 700; text-transform: uppercase; line-height: 1;
      @include breakpoint(medium down){ font-size: 1.5rem; }
  }

  .score-meter { display: flex; align-items: center; margin-top: 5rem;  }
  .score-meter-extrema {
    flex-shrink:0; display:inline-block; flex-basis: 3rem; width: 3rem;
    @include breakpoint(medium down){ flex-basis:auto; width:auto; }
  }
  .score-meter-extrema-left {text-align:right; padding-right: .3rem; }
  .score-meter-track { flex-grow: 1; position:relative; display:inline-block; height: .2rem; background-color: white; }
  .score-meter-mark { display: inline-block; position: absolute; top:-.3rem; height: .8rem; width: .8rem; border-radius: 2rem; border:2px solid white; background-color: $red; transition: left 600ms;}
  .score-meter-mark-init { left:0% !important; }
  .score-meter-pin { position: absolute; bottom: 100%; left: 50%; background-image: url(/img/PIN_End.svg); width: 38px; height:49px; transform: translate(-19px, -3px);font-size: .8rem; font-weight: 500; line-height: 2.4rem; text-align: center;  }

  .score-text{
    margin-top: 1.4rem; font-size: 1.2rem; font-weight: 600;
    @include breakpoint(medium down){ font-size: 1rem; }
  }

  .en-savoir-plus{
    margin-top: 2em; font-weight: 800;
    a, a:visited, a:hover, a:focus{color:$header-red;}
  }

  .social { margin-top: 2.8rem; }
  .social-title { text-transform: uppercase; font-size: 1.2rem; letter-spacing: .3rem;  }
  .social-link { background-color: $header-red; width: 3.8rem; margin: 0 .3rem; }
  .restart-link {
    background-color: transparent; font-size: 1.2rem; letter-spacing:.3rem; text-transform: uppercase; margin-top: 2.8rem;
    @include breakpoint(medium down){ padding-left: 0;}
  }
}

.mentions-is-open  {
  overflow: hidden;
  .mentions-wrapper  { display: block; }
}
.mentions-wrapper {
  z-index: 1000; display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,.6);
  .mentions {
    h2, h3, h4 { font-weight: 600; }
    position: absolute; top: 2rem; right: 2rem; left:2rem; bottom: 2rem; padding: 1.4rem; background-color: white; overflow: auto; color: $blue;
    a { color: $blue; font-weight: 600;}
  }
  .closer { position: fixed; top: 2.6rem; right: 2.6rem; color: black;}
}

.cookies-policy {
  position: fixed; bottom:0; left:0; right: 0; padding: 1rem; display: flex;  align-items: center; color: $blue; background-color: white;
  @include breakpoint(medium down){ display: block;}
  .text {
    flex-grow: 1; flex-basis:auto;
    @include breakpoint(medium down){ padding-bottom: 1rem; }
  }
  .action {
    flex-shrink:0;
    @include breakpoint(medium down){ text-align: center; }
  }
  .button {  background-color: $header-red; color: white; text-transform: uppercase; letter-spacing: .2rem; margin-bottom: 0;  border-radius: 4px;}
}
