<!DOCTYPE html>
<html ng-app="parisquizz">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <meta author="TroisYaours <julien@troisyaourts.com>">
        <title>Paris Quizz</title>
        <link rel="stylesheet" href="/dist/css/paris-quizz.css">
        <link rel="shortcut icon" type="image/png" href="/img/layout/favicon-32x32.png">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">
        <!-- facebook open graph tags -->
        <meta property="og:title" content="Paris - Quizz du budget 2018"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="{{ app.request.getSchemeAndHttpHost()}}"/>
        <meta property="og:description" content="{% if total is not empty %}Au quizz sur le budget de Paris 2018 j'ai obtenu {{score}}/{{total}}{% else %}Faites le quizz du budget de Paris 2018{% endif %}"/>
        <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost()}}/img/PARISQUIZZ_OG.png"/>
        <meta property="og:site_name" content="Paris - Quizz du budget 2018"/>

        <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,400italic">-->
        <base href="/">
    </head>
    <body>

        <main class="container" ng-view >

            <div class="home-login">
              <header layout="column">
                <h1>Paris quizz</h1>
              </header>

              <p>Chargement du module de quizz...</p>
            </div>
        </main>

      


        <script type="text/javascript" src="/dist/js/paris-quizz.min.js"></script>

    </body>
</html>
